.App {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

header p {
    font-size: 80px;
    color: rgb(250, 234, 6);
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.filmes {
    display: inline-flex;
    flex-wrap: wrap;
}